* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*::selection {
  color: #fff;
  background-color: #f7d65a;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* Header Section */

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.logo-container {
  padding-left: 10vw;
  padding-top: 1vw;
}

.logo {
  width: 5vw;
  cursor: pointer;
}

.nav-container > ul {
  display: flex;
}

.nav-container li {
  padding-right: 10vw;
  padding-top: 2vw;
  list-style-type: none;
  cursor: pointer;
}

.nav-container li:hover {
  color: #f7d65a;
}

/* Body Section */

.body {
  width: 100%;
  margin-top: 1vw;
  padding: 5vw;
  background-color: rgb(241, 241, 241);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.res-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8vw 3vw;
}

.search {
  display: flex;
  align-items: center;
  margin-bottom: 3vw;
}

#searchBox {
  width: 30vw;
  padding: 0.6vw;
  margin-right: 0.5vw;
  border: 0.1vw solid #ccc;
  border-radius: 0.2vw;
  outline: none;
}

#searchBox:focus {
  box-shadow: 0 0 5px #f7d65a;
}

button {
  padding: 0.6vw;
  background-color: #f7d65a;
  color: #fff;
  border: none;
  border-radius: 0.2vw;
  cursor: pointer;
}

button:hover {
  background-color: #bb9b1af6;
}

.res-card {
  height: 16rem;
  width: 18rem;
  cursor: pointer;
  transition: all 0.05s ease 0s;
}

.res-card:hover {
  transform: scale(0.95);
}

.res-img {
  height: 80%;
  width: 100%;
  border-radius: 1vw;
  overflow: hidden;
}

.res-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.res-details {
  margin: 1vw 0 0 1.5vw;
  line-height: 1.5;
}

.res-details .cuisines {
  color: rgba(2, 6, 12, 0.6);
}
